body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.top-bar,
.navbar {
  background-image: url("https://www.freethink.com/wp-content/uploads/2022/07/jwst-images-thumb.jpg?resize=711,400");
  background-size: 100% 88px;
  background-repeat: no-repeat;
}

.top-bar {
  width: 100%;
  height: 25px;
  color: white;
  text-align: center;
  line-height: 25px;
  background-position: top;
}

.navbar {
  text-align: center;
  background-position: bottom;
  border-bottom: 3px solid #00008B;
  padding: 5px 0;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin: 0 8px;
  font-size: 10px;
}

.main {
  width: 100%;
  height: 80px;
  text-align: center;
  border: 2px solid black;
  padding-top: 20px;
}

.footer {
  width: 100%;
  line-height: 20px;
  text-align: center;
  background-image: url("https://www.freethink.com/wp-content/uploads/2022/07/jwst-images-thumb.jpg?resize=711,400");
  color: white;
  font-size: 10px;
  border-top: 3px solid #00008B;
  padding: 5px 0;
}
