html, body {
  height: 100%;
  margin: 0;
}


body {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
}


.top-bar,
.navbar {
  background-image: url("https://www.freethink.com/wp-content/uploads/2022/07/jwst-images-thumb.jpg?resize=711,400");
  background-repeat: no-repeat;
  background-size: 100% 88px;
}


.top-bar {
  width: 100%;
  height: 90px;
  line-height: 25px;
  text-align: center;
  color: white;
  background-position: top;
  font-size: 60px;
}


.navbar {
  text-align: center;
  background-position: bottom;
  border-bottom: 3px solid #00008B;
  padding: 5px 0;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin: 0 8px;
  font-size: 30px;
}

.main {
  flex: 1; 
  width: 100%;
  text-align: center;
  border: 2px solid black;
  padding-top: 20px;
  box-sizing: border-box;
}


.footer {
  width: 100%;
  text-align: center;
  line-height: 20px;
  background-image: url("https://www.freethink.com/wp-content/uploads/2022/07/jwst-images-thumb.jpg?resize=711,400");
  background-size: cover;
  background-position: center;
  color: white;
  font-size: 20px;
  border-top: 3px solid #00008B;
  padding: 5px 0;
}
